<?xml version="1.0" encoding="UTF-8" ?>
<configuration>
    <!--默认配置-->
    <include resource="org/springframework/boot/logging/logback/defaults.xml" />
    <!-- 日志存放路径 -->
    <property name="LOG_PATH" value="/opt/tinyurl/logs"/>
    <!-- 日志输出格式 -->
    <property name="CONSOLE_LOG_PATTERN"
              value="%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] [%-5level] [%X{traceId}] %c [%method,%line]  : %msg%n"/>
    <!-- 日志输出格式 -->
    <property name="FILE_LOG_PATTERN"
              value="%d{yyyy-MM-dd} %d{HH:mm:ss.SSS} [%thread] %-5level [%X{traceId}] %logger - [%method,%line] - %msg%n"/>

    <!-- 控制台输出 -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>
                ${CONSOLE_LOG_PATTERN}
            </pattern>
        </encoder>
    </appender>

    <!-- 文件输出 -->
    <appender name="APPLICATION" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <encoder>
            <pattern>
                ${FILE_LOG_PATTERN}
            </pattern>
            <!-- 日志编码 -->
            <charset class="java.nio.charset.Charset">
                UTF-8
            </charset>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${LOG_PATH}/application.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <maxHistory>7</maxHistory><!-- 保存7天  -->
            <maxFileSize>50MB</maxFileSize><!-- 日志文件过大会使的编辑器打开非常慢，因此设置日志最大50MB -->
            <totalSizeCap>20GB</totalSizeCap><!-- 总日志大小 -->
        </rollingPolicy>
    </appender>

    <!--全局应用该日志配置-->
    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="APPLICATION"/>
    </root>
</configuration>