<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.tinycloud.tinyurl.function.tenant.mapper.DashboardMapper">
    <select id="getAccessTodayQuantity" resultType="java.lang.Long">
        SELECT
            count(id)
        FROM
            t_url_access_log
        WHERE
            tenant_id = #{tenantId}
          AND DATE_FORMAT(access_time, '%Y-%m-%d' ) = #{today}
    </select>

    <select id="getAccessTodayIpQuantity" resultType="java.lang.Long">
        SELECT
            count(DISTINCT access_ip)
        FROM
            t_url_access_log
        WHERE
            tenant_id = #{tenantId}
          AND DATE_FORMAT(access_time, '%Y-%m-%d' ) = #{today}
    </select>
</mapper>
